$color-primaria:#3399cc;
$color-secundaria:#333366;
$color-tercearia:#FF6633;
$color-quartenaria:#B1F4FF;
$color-branco : #fff;
$btn-radius: 20px;
$font-h1: 70px;
$font-h2: 70px;
$social-media-icons:30px;
$line : row;